# DB CONFIG
DB_NAME=DB
DB_HOST=DB_HOST
DB_USER=DB_USER
DB_PASS=DB_PASS
DB_COLLECTION=DB_COLLECTION

# JWT CONFIG
PRIVATE_KEY_PATH=./path/ec_private.pem
PUBLIC_KEY_PATH=./path/public.pem
TOKEN_HEADER_KEY=MY_TOKEN_HEADER_KEY
